{% extends "__base.html" %}
{% load static from staticfiles %}


{% block title %}Confirm password reset{% endblock %}

{% block navbar_links %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
{% endblock %}

{% block main_content_area %}
    <div class="center-block text-center login">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form method="post" class="form-signin" action=".">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <p class="marginbot20">Enter your new password below to reset your password:</p>
                        <p class="marginbot10">
                          {{ form.password1 }}
                          {{ form.password1.errors }}
                        </p>
                        <p>
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </p>
                        <input type="submit" class="btn btn-primary margintop20" value="Set password">
                      </form>
                </div>
            </div>
    </div>

{% endblock %}

