{% extends "__base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block title %}Reset password{% endblock %}


{% block main_content_area %}

    <div class="center-block text-center login">

        <form id="reset_password_form" enctype="multipart/form-data" action="{% url 'account_reset_password' %}" method="POST" role="form">
            <div class="row">
                {% csrf_token %}
                <p>We will email you a link to reset your password. </p>
                <p>Enter your email in the form below and press "Reset password".</p>
                <div class="col-md-4 col-md-offset-4">
                    {{form.non_field_errors}}
                    {{form.email.errors}}
                    {% bootstrap_field form.email layout='inline' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="fieldWrapper form-group form-buttons">
                        <a id='cancel_button' href="{% url 'account_login' %}" class="btn btn-default">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Reset Password" />
                    </div>
                </div>
            </div>
        </form>
     </div>


{% endblock %}
