{% extends "__base.html" %}
{% load static from staticfiles %}


{% block title %}Password reset{% endblock %}

 {% block navbar_links %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
{% endblock %}

{% block main_content_area %}
    <div class="center-block text-center login">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="marginbot20">We have sent you an email with instructions to reset your password.</p>
                <p>Please check your spam folder if you haven't received anything or <a href="mailto:info@truacademy.com">contact us</a></p>
            </div>
        </div>
        <div class="row margintop40">
            <div class="col-md-2 col-md-offset-5">
                <div class="text-center">
                    <a class= "btn btn-primary form-control" href="{% url 'home' %}" > Done</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
