{% load static from staticfiles %}
{% load inlinecss %}
{% inlinecss "css/email.css" %}

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Order Confirmation</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.email }}
                            {% endif %},
                        </p>
                        <p>
                            You have just ordered cake on cake-g.com.<br>
                            You can view you order details at
                            <a href="https://cake-g.com/profile">https://cake-g.com/profile</a><br>
                            You can also contact us on <a href='//m.me/cake.ghorahi'>messenger</a>.
                        </p>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Cake-G, Jaycees Road, Ghorahi</span>
                  </td>
                </tr>
              </table>
            </div>

            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>

{% endinlinecss %}
