{% extends '__base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
	About
{% endblock %}

{% block main_content_area %}


    <section class="container">
    <div class="row">
        <div class="breadcrumblist">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 about" style="margin-bottom: 50px; text-align: justify;">
            <h1>About Us</h1>
            <p>
              Cake-G was created in 2019  to cater to the needs of Nepalese based overseas who
              wish to send gifts to family and friends in their home country. It was amongst the
              first Nepal centric e-commerce companies providing a leading platform for delivery
              of high quality merchandise and services to the Non-resident Nepali community (NRN).
              Creation of this service enabled the company to put in place a large logistics system,
              relationships with high recognition brands in the Nepali market and a robust distribution
              process.
            </p>
            <h4>Cake-G to deliver cakes to Nepal online.</h4>
            <p>
              Order online for Cake delivery in Nepal along with Cakes, flowers, sweets and  more gifts.
              You may order eggless cake, birthday cake, kids cake, tier-cake and more. We deliver black
              forest cake, pineapple cake, black forest cake, fresh fruits cake and 5 star bakery cake.
              Our expert bakery make fresh cakes for same day delivery. We also deliver wide varieties of
              candle with cake . You may also add message card, balloons, candle, chocolates to your order.
              For any query, please call us or write a mail for prompt reply. We deliver on all 365 days a
              year. You may now send cake to Nepal from USA, Canada, U.K. Australia and Europe . Just order
              online and pay online through credit card, PayPal or online banking. We shall then deliver
              your order on your chosen date. You may also order cake for anniversary, wedding,
              valentine’s day, mothers day , fathers day or Christmas and we shall deliver all.
            </p>
            <h4>
              Cake Value: All our products and services shall be offered with the same love, care and
              affection as if, they were meant for the most beloved person
            </h4>
            <p>
              Use the best ingredients, offer fresh bakery products, customized to suit personal tastes,
              with excellent standards of creativity, and delivered with the highest degree of timeliness
              and assurance of impeccable quality. Good intentions in dealing with stakeholders like
              Suppliers, Employees, Franchisees, Dealers and Consumers yield good products and services.
              Cherish, honour and respect, the goodwill and cooperation given by stakeholders like Suppliers,
              Employees, Franchisees, Dealers and Consumers.
            </p>
            <p>
              Cake-G  currently  has relationships with prestigious vendors in Nepal having arrangements
              to supply products and deliver the cakes. The website has over thousands online transacting
              customers. For further information on shopping online or the various policies, we suggest
              that you visit the section on <a href="{% url 'faq' %}">Frequenty Asked Questions (FAQs)</a>.
            </p>
            <p>
              To all of you, from all of us at  Cake-G - Thank you and  Happy day!
            </p>
        </div>
    </div>
</section>
    <!-- Scroll to Top button -->
    <div id="scroll-to-top" class="scroll-to-top">
        <span>
          <i class="fa fa-chevron-up"></i>
        </span>
    </div><!-- /#scroll-to-top -->

{% endblock %}

{% block  js_files_bottom %}
    {{ block.super }}

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

{% endblock %}
