{% extends '__base.html' %}

{% block main_content_area %}

	<div class="container">
		{% if error%}
			{{error}}
		{% endif %}
		{% if success %}
			success
		{% endif %}
		<form id="checkout" method="post" action="">{% csrf_token %}
		<div id="payment-form"></div>
		 <input type="submit" value="Pay $10">
		</form>

	</div>
{% endblock main_content_area %}

{% block js_files_bottom %}
	{{block.super}}
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<script>
		// We generated a client token for you so you can test out this code
		// immediately. In a production-ready integration, you will need to
		// generate a client token on your server (see section below).
		var clientToken = "{{client_token}}";
		braintree.setup(clientToken, "dropin", {
		 container: "payment-form"
		});
		</script>

{% endblock js_files_bottom %}
