{% extends '__base.html' %}

{% block main_content_area %}
    <div class="container delivery-info">
        <div class="row">
            <div class="col-md-7 delivery-details">
                <div class="row">
                    <p><strong>Verify Delivery Details</strong></p>
                    <div class="col-sm-6 input-box">
                        <label for="date">Delivery Date</label>
                        <div>{{ checkout.delivery_time }}</div>
                    </div>
                    <div class="col-sm-12 input-box">
{#                        <label for="message">Message</label>#}
{#                        <textarea class="form-control" placeholder="Message" id="message"></textarea>#}
                    </div>
                </div>
                <div class="row">
                    <p><strong>Receiver Information</strong></p>
                    <div class="col-sm-6 input-box">
                        <label for="name">Fullname</label>
                        <div>{{ receiver.name }}</div>
                    </div>
                    <div class="col-sm-6 input-box">
                        <label for="phone">Phone Number</label>
                        <div>{{ receiver.phone_number }}</div>
                    </div>
                    <div class="col-sm-6 input-box">
                        <label for="address">Address</label>
                        <div>{{ location.location }}</div>
                    </div>
                    <div class="col-sm-3 input-box">
                    </div>
                    <div class="col-sm-3 input-box">
                    </div>
                    <div class="row">
                        <div id="map"></div>
                    </div>

                </div>
                <div class="row">
                    <p><strong>Seconday Receiver Information</strong></p>
                    <div class="col-sm-6 input-box">
                        <label for="name">Fullname</label>
                        <div>{{ secondary_receiver.name }}</div>
                    </div>
                    <div class="col-sm-6 input-box">
                        <label for="phone">Phone Number</label>
                        <div>{{ secondary_receiver.phone_number }}</div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 order-summary">
                <p><strong>Order Summary</strong></p>
                <table class="table table-responsive">
                    <tr class="no-border">
                        <td colspan="2"><b>{{ num_cart_items }} items</b></td>
                    </tr>
                    <tr>
                        <td>Cart Total</td>
                        <td> Rs {{ total_price }}</td>
                    </tr>
                    <tr class="no-border">
                        <td>Delivery Charge</td>
                        <td>Rs 0</td>
                    </tr>
                    <tr>
                        <th>Total Payable</th>
                        <th>Rs {{ total_price }}</th>
                    </tr>
                </table>
                <p><strong>Payment Method</strong></p>
                <div class="customer-info row">
                    <div class="col-md-6">
                        <a href="{% url 'payment.cash_on_delivery_success' checkout.id %}" type="submit" class="btn btn-primary btn-add">Cash on Delivery</a>
                    </div>
                    <div class="col-md-6">
                        {{ paypal_form.render }}
                    </div>
                </div>

                <div class="help">
                    <p><b>Need Help With This Order?</b></p>
                    <p><a href="tel:+977{{ PHONE_NUMBERS.0 }}"><i class="fa fa-phone"></i> +977 {{ PHONE_NUMBERS.0 }}</a> (8:00-5:00 NST) </p>
                </div>
            </div>
        </div>
{#    </form>#}
    </div>
{% endblock main_content_area %}
